@font-face {
    font-family: 'Sniglet';
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Sniglet', sans-serif;
}

a:hover {
    text-decoration: none;
}

.page-header {
    position: fixed;
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
    width: 100%;
    z-index: 999;
    
}

.col{
    margin-top: 180px
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 10px;
}

.header-logo {
    position: absolute;
    top: 44px;
    left: 22px;
}

.header-text {
    position: absolute;
    top: 22px;
    left: 100px;
}

@media screen and (max-width: 1010px) {

    .header-container {
        display: flex;
        flex-direction: row;
        height: 120px;
        padding: 10px;
    }
    
    .header-logo {
        position: absolute;
        top: 58px;
        left: 22px;
    }
    
    .header-text {
        position: absolute;
        top: 36px;
        left: 100px;
    }

    .container {
        margin-left: 30px;
        margin-right: 30px;
    }
    
}

.animals {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: -100px;
}

.character-container {
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transform: translate(0px, 0px); 
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}